In [ ]:
import pandas as pd
import csv

df = pd.read_csv("./warmup_data/cse.csv")

df.head()

   id                  name            address
0   2           Sobuz Ahmed    Fultala Kushtia
1   3  Habibur Rahman Sakib  Daulatpur Kushtia
2   5                 Bonni  Chourhash Kushtia
3   7         Sofikul Rohan          Madaripur
4   8           Tuhin Ahmed          Madaripur

In [ ]:
df.sample()
print(df.loc[[2, 4]])

   id         name            address
2   5        Bonni  Chourhash Kushtia
4   8  Tuhin Ahmed          Madaripur

In [63]:
df.columns

Index(['id', 'name', 'address'], dtype='object')